
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Masonry Responsive Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="~/NewFolder/css/normalize.css">
    <link rel="stylesheet" href="~/NewFolder/css/font-awesome.css">
    <link rel="stylesheet" href="~/NewFolder/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/NewFolder/css/templatemo-style.css">
    <script src="~/NewFolder/css/js/vendor/modernizr-2.6.2.min.js"></script>
    <!--
    Masonry Template
    http://www.templatemo.com/preview/templatemo_434_masonry
    -->
</head>


<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 3 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Service Excellence</h2>
                <p class="animate__animated animate__fadeInUp">Our institution excellence acknowledgement by our MEC: Mrs. Weziwe Thusi. We Obtained position: 5. Improvements recommended:  Customer Care, Excellent service provision, Visibility and accessibility.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Service Excellence</h2>
                <p class="animate__animated animate__fadeInUp">Our institution excellence acknowledgement by our MEC: Mrs. Weziwe Thusi. We Obtained position: 5. Improvements recommended:  Customer Care, Excellent service provision, Visibility and accessibility.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Service Excellence</h2>
                <p class="animate__animated animate__fadeInUp">Our institution excellence acknowledgement by our MEC: Mrs. Weziwe Thusi. We Obtained position: 5. Improvements recommended:  Customer Care, Excellent service provision, Visibility and accessibility.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        @*<a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>*@

    </div>
</section><!-- End Hero -->
<!-- MAIN POSTS -->
<div class="main-posts">
    <div class="container">
        <div class="row">
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 18.47.40.jpeg" alt="" height="250"/>
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date"></span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 19.59.53.jpeg" alt=""height="250" />
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date">picture</span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 20.29.44 (1).jpeg" alt="" height="250" />
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date"></span>
                                <h4><a href="#">I</a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        <img src="images/4.jpg" alt="">
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 20.29.33.jpeg" alt="" height="250" />
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date"></span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 20.29.49.jpeg" alt="" height="250" />
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date">picture</span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 20.29.40.jpeg" alt="" height="250"/>
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date">picture</span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 20.29.46 (1).jpeg" alt="" height="250" />
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date">picture</span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">

                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 20.29.44.jpeg" alt=""  height="250" />
                        <div class="title-over">
                            <h4><a href="#">Vpicture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date"></span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
                <div class="post-masonry col-md-4 col-sm-6">
                    <div class="post-thumb">
                        <img src="~/assets/img/Gallery/WhatsApp Image 2021-01-07 at 20.29.41.jpeg" alt=""  height="250"/>
                        <div class="title-over">
                            <h4><a href="#">picture</a></h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>
                                <span class="date"></span>
                                <h4><a href="#"></a></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.post-masonry -->
            </div>
        </div>
    </div>        

<script src="~/NewFolder/js/vendor/jquery-1.10.2.min.js"></script>
<script src="~/NewFolder/js/min/plugins.min.js"></script>
<script src="~/NewFolder/js/min/main.min.js"></script>
@*<script type="text/javascript">
        //<![CDATA[
        $(window).load(function () { // makes sure the whole site is loaded
            $('#loader').fadeOut(); // will first fade out the loading animation
            $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow-y': 'visible' });
        })
                //]]>
    </script>*@