
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Thembalethu <br /> Child & Youth Development Centre</span></h2>
                <p class="animate__animated animate__fadeInUp">Thembalethu CYDC is an institution that was established by the youth, that will always be lead by the youth and meant to address challenges faced by our youth. So, all suggestions that moves our youth forward are welcome.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Service Excellence</h2>
                <p class="animate__animated animate__fadeInUp">Our institution excellence acknowledgement by our MEC: Mrs. Weziwe Thusi. We Obtained position: 5. Improvements recommended:  Customer Care, Excellent service provision, Visibility and accessibility.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Our Foundation</h2>
                <p class="animate__animated animate__fadeInUp">Is an organisation that was funded and still monitored by Department of Social Development to mainly offer free/affordable technical skills and contribute towards addressing issues affecting the youth.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">




    <section class="services">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="fas fa-edit" style="font-size:48px;color:black"></i></div>
                        <h4 class="title"><a href="">Matric Re-Write</a></h4>
                        <p class="description">We offer services to help people complete their Matric</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="fas fa-book" style="font-size:48px;color:navy"></i></div>
                        <h4 class="title"><a href="">Basic Office Admin</a></h4>
                        <p class="description">Maintaining files, MS Suite (Word, Excel, Outlook, and Access), Responding to emails and Preparing documents</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="fas fa-tshirt" style="font-size:48px;color:green"></i></div>
                        <h4 class="title"><a href="">Sewing</a></h4>
                        <p class="description">Machine Parts, Drafting Measurements & Cutting Pillows, Curtains, Skirts and Shirt </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="fas fa-desktop" style="font-size:48px;color:red"></i></div>
                        <h4 class="title"><a href="">End-User Computing</a></h4>
                        <p class="description">
                            We offer services that provide skills for basic office use of a computer using various applications. <br />
                            Theory, Typing, MS Word, MS Excel, Power Point Presentation, MS Internet Explorer, Job Search Technique &Aacute; Interview Skills
                        </p>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="fab fa-chrome" style="font-size:48px;color:lightblue"></i></div>
                        <h4 class="title"><a href="">Web Design</a></h4>
                        <p class="description">
                            We offer training
                            - Html Coding : Creating Web Pages <br />
                            - CCS : Styling and Formatting Web Pages <br />
                            - Adobe Dreamweaver CS3 : Create Web Pages and Web Sites <br />
                            - Domain Names and Hosting Account <br />
                            - Web Site Links, Images and Formatting <br />
                            - Publishing a Web Site <br />
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="fas fa-cogs" style="font-size:48px;color:brown"></i></div>
                        <h4 class="title"><a href="">Web Development</a></h4>
                        <p class="description">
                            - Learn the skills, tools, and processes you need to become a web developer <br />
                            - Work with a mentor who has over years of industry experience and a tutor for your day-to-day feedback <br />
                            - Receive tailored coaching from our Career Services team to ensure you stand out at interviews <br />
                            - Build an impressive portfolio out of the real-world projects you complete <br />
                            - Stand a chance to land a job as a web developer <br/>
                        </p>
                    </div>
                </div>
            </div>


        </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="~/assets/img/material/croped_grad.png" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-graduation-cap" style="font-size:48px;color:gray"></i></div>
                        <h4 class="title"><a href="">Our Qualified Team</a></h4>
                        <p class="description">Our Team consists of friendly, kind and educated youth.</p>
                    </div>

                    @*<div class="icon-box">
                            <div class="icon"><i class="bx bx-gift"></i></div>
                            <h4 class="title"><a href="">Nemo Enim</a></h4>
                            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                        </div>*@

                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>Features</h2>
                <p>Our offices are equiped with FREE WIFI, we have printing and scanning service and we also have a computer lab with fast and up-to-date computers</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/assets/img/material/W_back_team.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Our Dedicated.</h3>
                    <p class="font-primary">
                        The current brains behind the success of our institution: For the youth lead by the youth!
                    </p>
                    <ul>
                        <li><i class="icofont-check"></i> Committed to Youth and Community Development.</li>
                        <li><i class="icofont-check"></i> We are consistently contributing towards youth and community development.</li>
                    </ul>
                </div>
            </div>

            <div>
                @*<div class="row" data-aos="fade-up">
                            <div class="col-md-5 order-1 order-md-2">
                                <img src="~/assets/img/features-2.svg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-7 pt-5 order-2 order-md-1">
                                <h3>Corporis temporibus maiores provident</h3>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum
                                </p>
                            </div>
                        </div>

                        <div class="row" data-aos="fade-up">
                            <div class="col-md-5">
                                <img src="~/assets/img/features-3.svg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-7 pt-5">
                                <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
                                <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                                <ul>
                                    <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                    <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                    <li><i class="icofont-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row" data-aos="fade-up">
                            <div class="col-md-5 order-1 order-md-2">
                                <img src="~/assets/img/features-4.svg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-7 pt-5 order-2 order-md-1">
                                <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum
                                </p>
                            </div>
                        </div>

                    </div>*@
            </div>
    </section><!-- End Features Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
