<!-- End Hero -->

<main id="main">

    <section class="services">

        <div class="container" style="padding:0;">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="fas fa-edit" style="font-size:48px;color:black"></i></div>
                        <h4 class="title"><a href="">Matric Re-Write</a></h4>
                        <p class="description">We offer services to help people complete their Matric</p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="fas fa-book" style="font-size:48px;color:navy"></i></div>
                        <h4 class="title"><a href="">Basic Office Admin</a></h4>
                        <p class="description">Project Administration and Computer Literacy <br />Training</p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="fas fa-tshirt" style="font-size:48px;color:green"></i></div>
                        <h4 class="title"><a href="">Sewing</a></h4>
                        <p class="description">Machine Parts, Drafting, Measurements, Cutting & Sewing</p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="fas fa-desktop" style="font-size:48px;color:red"></i></div>
                        <h4 class="title"><a href="">End-User Computing</a></h4>
                        <p class="description">
                            Introduction to Microsoft Word, Excel, PowerPoint & Outlook
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="fab fa-chrome" style="font-size:48px;color:lightblue"></i></div>
                        <h4 class="title"><a href="">Web Design</a></h4>
                        <p class="description">
                            Become an expert on website design: HTML5, CSS3 & DreamWeaver CS3
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="fas fa-cogs" style="font-size:48px;color:brown"></i></div>
                        <h4 class="title"><a href="">Web Development</a></h4>
                        <p class="description">
                            Learn the skills, tools, and processes you need to become a web developer
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="fas fa-building" style="font-size:48px;color:red"></i></div>
                        <h4 class="title"><a href="">Entrepreneurship</a></h4>
                        <p class="description">
                            Encourage business establishment and self relience
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>



                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                        <h4 class="title"><a href="">Leadership</a></h4>
                        <p class="description">
                            Instiling leadership skills that encourages behavior change
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="fas fa-car" style="font-size:48px;color:brown"></i></div>
                        <h4 class="title"><a href="">Learners License </a></h4>
                        <p class="description">
                            To encourage deffensive driving that ensures safer roads
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="fas fa-laptop" style="font-size:48px;color:red"></i></div>
                        <h4 class="title"><a href="">Computer Literacy</a></h4>
                        <p class="description">
                            Introduction to basic computer lessons
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>



                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="fa fa-database" aria-hidden="true"></i></div>
                        <h4 class="title"><a href="">Data Capturing</a></h4>
                        <p class="description">
                            Introduction to microsoft access and databases
                        </p>
                        <hr />
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="~/assets/img/material/croped_grad.png" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-graduation-cap" style="font-size:48px;color:gray"></i></div>
                        <h4 class="title"><a href="">Our Qualified Team</a></h4>
                        <p class="description">Our Team consists of friendly, kind and educated youth.</p>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- End Why Us Section -->
    <!-- ======= Features Section ======= -->

    <section class="features">

        <div class="container">

            <div class="section-title">
                <h2>Leadership</h2>
                <h6 style="text-align:center">Mr. Michael Thabiso Lethea</h6>
                <img style="border-radius:50%; display:block; margin: 0 auto; border: 2px solid #0d2735" width="15%" height="15%" src="~/assets/img/leadership/mpp.jpg" alt="">
                <hr/><br /><h6 style="text-align:center">Some people who played an integral part since establishment:</h6><br />

                <div class="row" style="margin-left:15%;">
                    <div class="col-lg-2 col-md-6">
                        <ul>
                            <li><img style="border-radius:50%;  border: 2px solid #0d2735" src="~/assets/img/leadership/gu.jpg" class="img-fluid" alt=""></li>
                            <li>
                                <h6>Mr. Sipho Khulekani <br />Gumede</h6>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <ul>
                            <li><img style="border-radius:50%;border: 2px solid #0d2735" src="~/assets/img/leadership/2.jpg" class="img-fluid" alt="">
                            <li>
                                <h6>Ms. Nelisiwe <br />Mthimkhulu</h6>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <ul>
                            <li><img style="border-radius:50%;border: 2px solid #0d2735" src="~/assets/img/leadership/thoko.jpg" class="img-fluid" alt="">
                            <li>
                                <h6>Ms. Thokozile Nonhlanhla <br />Kunene</h6>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <ul>
                            <li><img style="border-radius:50%; border: 2px solid #0d2735" src="~/assets/img/leadership/1.jpg" class="img-fluid" alt="">
                            <li>
                                <h6>Ms. Lydia Nelisiwe <br />Zikalala</h6>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <ul>
                            <li><img style="border-radius:50%; border: 2px solid #0d2735" src="~/assets/img/leadership/last.jpg" class="img-fluid" alt="">
                            <li>
                                <h6>Mr. Skhumbuzo Julious <br />Nhlapho</h6>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="row" style="background-color: #fafafa">
        <hr />
            <table cellspacing="1" cellpadding="1">
                <tr>
                    <td><img src="~/assets/img/logo/22.png" width="200px" height="100px" /></td>
                    <td><img src="~/assets/img/logo/44.png" width="200px" height="100px"/></td>
                    <td><img src="~/assets/img/logo/thumb_4_social_development.png" width="300px" height="100px"/></td>
                    <td><img src="~/assets/img/logo/62.png" width="200px" height="200px"/></td>
                    <td><img src="~/assets/img/logo/77.png" width="200px" height="100px"/></td>
                </tr>
            </table>
        <hr />
    </div>

</main>
