<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 3 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Organization Creditation</h2>
                <p class="animate__animated animate__fadeInUp">Is an organisation that was funded and still monitored by Department of Social Development to mainly offer free/affordable technical skills and contribute towards addressing issues affecting the youth.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Organization Creditation</h2>
                <p class="animate__animated animate__fadeInUp">Is an organisation that was funded and still monitored by Department of Social Development to mainly offer free/affordable technical skills and contribute towards addressing issues affecting the youth.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Organization Creditation</h2>
                <p class="animate__animated animate__fadeInUp">Is an organisation that was funded and still monitored by Department of Social Development to mainly offer free/affordable technical skills and contribute towards addressing issues affecting the youth.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>
    </div>
</section>


<section class="services">
    <div class="container bg-info">
        <div class="row">
            <div class="col-md-3 col-lg-12 d-flex align-items-stretch bg-light" data-aos="fade-up" data-aos-delay="200">
                <table class="table table-bordere table-hover bg-primary table-info text-white" >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Relationship</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Thembelethu Child youth Development centre</td>
                            <td>NPO</td>
                            <td>096-22</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Thembaluthu Child And Youth Develoment Centre</td>
                            <td>MICTSeta</td>
                            <td>20181120/495</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Thembaluthu Child And Youth Develoment Centre</td>
                            <td>Private</td>
                            <td>201908902507</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Thembaluthu Child And Youth Develoment Centre</td>
                            <td>MICTSeta</td>
                            <td>20181120/495</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>SARS</td>
                            <td>Tax Clearance</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>UIF</td>
                            <td>Employee Benefit</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>South African Youth Project</td>
                            <td>Accedited Training</td>
                            <td>Accreditation Number: ACC/ 2013-07/3086</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
