@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 3 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Service Excellence</h2>
                <p class="animate__animated animate__fadeInUp">Successful implementation and Funds allocated for usage from DSD per agreed SLA, which was to implement a Skill Development Programme </p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<section class="services">
    <div class="container bg-secondary">
        <div class="row">
            <div class="col-md-3 col-lg-12 d-flex align-items-stretch bg-light" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">

                    <h4 class="title"><a href=""><strong>Service Excellence</strong></a></h4>
                    <p class="description">
                        1. Successful implementation and Funds allocated usage from DSD per agree SLA, which was to implement a skill development programme. <br />
                        2. Visit by our MEC DSD Mrs Weziwe Thusi <br />
                        3. Successful implementation and Funds allocated usage from USAID (OVC). <br />
                        4. We have obtained position 5 during Service excellence Awards organised by DSD provincial Office lead by Mrs Weziwe Thusi. <br />
                        5. Our student consistent acquisistion of Job opportunities. <br />
                        6. Our student consistent enrolment to University. <br />
                        7. Our beneficiaries consistent engagement in poverty alliviation initiatives and business establishments. <br />
                        8. Behaviour change shown by most of our enrolled students (Substance abuse, Crime, HIV knowledgeable ect) <br />
                        9. Being nominated by Provincial, District, Local office of DSD to implement a Skills Development Programme at Blaauboush Youth Centre (Which will cater for the whole District). <br />
                        10. Partnered with South African Youth Project to offer Accredited training. <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-12 d-flex align-items-stretch bg-light" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <h4 class="title"><a href=""><strong>Service Excellence Team</strong></a></h4>
                    <p class="description">
                        <img src="~/img/ServiceExcellence/serviceExcellenceTeam5.jpeg" style="height : 330px;width : 380px;" />
                    </p>
                </div>

                <div class="icon-box icon-box-blue">
                    <h4 class="title"><a href="">Ambossador</a></h4>
                    <img src="~/img/ServiceExcellence/Ambassador.jpeg" style="height : 330px;width : 380px;" />
                </div>

                <div class="icon-box icon-box-blue">
                    <h4 class="title"><a href="">MEC</a></h4>
                    <img src="~/img/ServiceExcellence/Mec.jpeg" style="height : 330px;width : 380px;" />
                </div>
            </div>
        </div>
    </div>











