<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Services -Thembalethu Child & Youth Development Centre</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.1.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a href="@Url.Action("Index","Home")"><span>Thembalethu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("AboutUs","Home")">About Us</a></li>
                    <li><a href="@Url.Action("Services","Home")" ">Services</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="drop-down">
                        <a href="">Drop Down</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="drop-down">
                                <a href="#">Drop Down 2</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Our Services Section ======= -->
        <!-- End Our Services Section -->
        <!-- ======= Services Section ======= -->
        <section class="services">
            <div class="container">
                <h4>Skills Development Training</h4>
                <br/>
                <div class="row">

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-blue">
                            <div class="icon"><i class="fa fa-certificate"></i></div>
                            <h4 class="title"><a href="">SETA Accredited Programme</a></h4>
                            <p class="description">
                                Excel<br />
                                Excel Appearance<br />
                                Excel Application<br />
                                Microsoft Word<br />
                                Microsoft Word on Tables<br />
                                Power Point Presentation Enhancement<br />
                                Power Point Presentation<br />
                                Proffessional Email Messaging
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>

                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <div class="icon"><i class="fab fa-chrome" style="font-size:48px;color:lightblue"></i></div>
                            <h4 class="title"><a href="">Web Design</a></h4>
                            <p class="description">
                                We offer training
                                Html Coding : Creating Web Pages <br />
                                CCS : Styling and Formatting Web Pages <br />
                                Adobe Dreamweaver CS3 : Create Web Pages and Web Sites <br />
                                Domain Names and Hosting Account <br />
                                Web Site Links, Images and Formatting <br />
                                Publishing a Web Site <br />
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon"><i class="fas fa-cogs" style="font-size:48px;color:brown"></i></div>
                            <h4 class="title"><a href="">Web Development</a></h4>
                            <p class="description">
                                Learn the skills, tools, and processes you need to become a web developer <br />
                                Work with a mentor who has over years of industry experience and a tutor for your day-to-day feedback <br />
                                Receive tailored coaching from our Career Services team to ensure you stand out at interviews <br />
                                Build an impressive portfolio out of the real-world projects you complete <br />
                                Stand a chance to land a job as a web developer <br />
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box icon-box-pink">
                            <div class="icon"><i class="fas fa-desktop"></i></div>
                            <h4 class="title"><a href="">End User Computing</a></h4>
                            <p class="description">
                                Theory : 119925 <br />Typing Skills <br />
                                Word : 119924 <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;: 119078<br />
                                Excel : 116937<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;: 116940<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;: 116943<br />
                                PowerPoint : 1177923<br />
                                Outlook    : 115391<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;:116935
                                &nbsp;&nbsp;&nbsp;&nbsp;:116931
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Computer Literacy</a></h4>
                            <p class="description">
                                Theory : 119925 <br />Typing Skills <br />
                                Word : 119924 <br />
                                Excel : 116937<br />
                                PowerPoint : 1177923
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <div class="icon"><i class="fas fa-book"></i></div>
                            <h4 class="title"><a href="">Basic Office Admin</a></h4>
                            <p class="description">
                                Project Management<br />
                                Computer Literary
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <div class="icon"><i class="fas fa-edit"></i></div>
                            <h4 class="title"><a href="">Matric Re-write</a></h4>
                            <p class="description">
                                All Subjects
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-blue">
                            <div class="icon"><i class="fas fa-tshirt"></i></div>
                            <h4 class="title"><a href="">Sewing</a></h4>
                            <p class="description">
                                Parts Of Machine<br />
                                Machine Connection<br />
                                Machine Operation<br />
                                Stiches Differentiation<br />
                                Measurements<br />
                                Drafting<br />
                                Curtains<br />
                                Pillows Case<br />
                                Skirt
                            </p>
                            <br />
                            <a href="#" class="get-started-btn">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-details">
            <div class="container">

                <div class="row">
                    <div class="col-md-5 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">A+</a></h5>
                                <p class="card-text">
                                    SETA Accredited programme in IT Principles (A+ Preparation)
                                </p>
                                <a href="#" class="get-started-btn">Apply</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Data Capturing </a></h5>
                                <p class="card-text">SETA Accredited programme in Data Capturing</p>
                                <a href="#" class="get-started-btn">Apply</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Service Details Section -->

    </main><!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>